@charset "utf-8";

.banner-group .banner-group-banners
{
    font-size: smaller;
}

.banner-group .banner-group-banners .banner
{
    padding: 0em;
    margin: 0em -2.2em;
    border-top: 1px solid #ccc;
}

.banner-group .banner-group-banners .banner dl
{
    margin: 0px;
    padding: 0px;
}

.banner-group .banner-group-banners .banner .banner-title
{
    font-size: larger;
    font-weight: bold;
    padding-left: 2em;
}
